.card{
    background-color: cornsilk;
    font-size: 3vh;
    color: black;
    text-align: center;
}
.gallery{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
.card-img{
    margin: 3rem;
    width: 90%;
    height: 60%;
}